body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif !important;
    overflow-x: hidden;
    padding-bottom: 60px;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#btn-slide-open {
    position: fixed;
    margin: 4vh 0 0 4vh;
}

div#btn-slide-open:hover {
    opacity: 0.6;
}

.line-wrapper {
    z-index: 999;
    width: 24px;
    height: 20px;
}

.line {
    width: 24px;
    height: 4px;
    margin-top: 4px;
    background-color: #000;
}

.slide-menu-wrap {
    z-index: 999;
    position: fixed;
    background-color: #0C0C38;
    width: 22vw;
    height: 100vh;
    transition: transform 600ms;
    transform: translate(-22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(-22vw, 0px);
    -webkit-transform: translate(-22vw, 0px);
    -moz-transform: translate(-22vw, 0px);
    -o-transform: translate(-22vw, 0px);
}

#to-top {
    z-index: 998;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top:hover {
    opacity: 0.4;
}

.slide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#btn-slide-close {
    width: 24px;
    margin: 5vh 0 0 4vh;
}

div#btn-slide-close:hover {
    opacity: 0.6;
}

.css-slide-close {
    width: 24px;
    height: 24px;
}

.css-slide-close .line:nth-child(1) {
    transform: rotate(45deg);
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: #fff;
}

.css-slide-close .line:nth-child(2) {
    transform: rotate(-45deg);
    width: 30px;
    height: 4px;
    margin-top: -4px;
    background-color: #fff;
}

.slide-menu div#slide-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-height: 148px;
    margin-top: 7vh;
    background-color: #E500FF;
    border-radius: 100px;
}

div#slide-logo img {
    width: 120px;
}

ul#slide-btn {
    margin-top: 10vh;
    font-size: 1.87rem;
    font-weight: 900;
    color: #fff;
}

ul#slide-btn a {
    color: #fff;
    text-decoration: none;
}

ul#slide-btn a:hover {
    color: #E500FF;
    text-decoration: none;
}


ul#slide-btn li {
    margin-top: 2vh;
}

#slide-email {
    margin-top: 24vh;
    color: #6D6C87;
}

.wrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    transition: transform 600ms;
}

.wrap.menu-active {
    transform: translate(22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(22vw, 0px);
    -webkit-transform: translate(22vw, 0px);
    -moz-transform: translate(22vw, 0px);
    -o-transform: translate(22vw, 0px);
}

/*!!! 본문시작 !!!*/

.right-top-stamp {
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 30px;
}

.left-center-stamp {
    position: fixed;
    z-index: 10;
    transform: rotate(90deg);
    top: 50%;
    left: -46px;
}

.row.main-circle {
    width: 38.4vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.bg-circle-01 {
    z-index: 9;
    margin: 0 auto;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 100%;
    background: linear-gradient(224deg, #ff5b60, #ffbe6d);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
}

.title {
    z-index: 10;
    position: absolute;
    margin-top: 28%;
    font-size: 3.4rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.desktop-image {
    z-index: 10;
    position: absolute;
    width: 170%;
    height: 0;
    padding-top: 70%;
    margin-top: 38%;
    background-position: center top;
    background-size: 100%;
}

.bg-deco-01 {
    position: absolute;
    width: 100vw;
    height: 0;
    padding-top: 50%;
}

.bg-circle-02 {
    z-index: -2;
    position: absolute;
    top: -50px;
    right: -116px;
    width: 390px;
    height: 390px;
    border-radius: 100%;
    background-color: #fff0f3;
}

.bg-circle-03 {
    z-index: -2;
    position: absolute;
    bottom: -84px;
    left: -163px;
    width: 304px;
    height: 304px;
    border-radius: 100%;
    background-color: #fff0f3;
}

.bg-colon-01,
.bg-colon-02 {
    font-weight: 900;
    font-size: 7.5rem;
    color: #fff0f3;
}

.bg-colon-01 {
    z-index: -2;
    position: absolute;
    top: 14%;
    left: 405px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.row.subtitle-wrap > .subtitle > span {
    color: #ff5b60;
    font-weight: 900;
    font-size: 1.87rem;
}

.row.subtitle-wrap > .subtitle > .hr-long {
    z-index: -1;
    border: 0.5px solid #ff5b60;
    flex-grow: 1;
    margin-left: 60px;
}


.row.content {
    margin-top: 40px;
    margin-bottom: 60px;
}

.row.content .content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row.content .content-img img {
    width: 100%;
    border-radius: 1vw;
    border: 4px solid #000;
}

.content-img .handle {
    z-index: 1;
    width: 40%;
    height: 3px;
    position: absolute;
    bottom: 6px;
    border-radius: 10px;
    background-color: #000;
}

.description-wrap{
    height: 100%;
}

.description-wrap .description-01 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.17;
    color: #ff5b60;
}

.hr-short {
    border: 1px solid #ff5b60;
    width: 24px;
    margin-bottom: 1rem;
}

.description p {
    font-weight: 300;
    color: #707070;
}

.desc-03 {
    display: flex;
    flex-direction: row;
}

.iCon-wrap {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.iCon-wrap img {
    margin: 16px 8px 32px 0;
    width: 65px;
    height: 65px;
}

.iCon-circle {
    width: 114px;
    height: 114px;
    background: linear-gradient(224deg, #ff5b60, #ffbe6d);
    border-radius: 100%;
    margin-top: 30px;
}

.font-ex-wrap {
    display: flex;
    flex-direction: row;
}

.font-ex {
    font-family: 'NanumSquare', sans-serif;
    margin-top: 16px;
}

.font-ex-en {
    margin-top: 42px;
}

.font-ex p:nth-child(1) {
    font-weight: 700;
    line-height: 1rem;
}

.font-ex p:nth-child(2) {
    font-weight: 700;
    line-height: .8rem;
    color: #707070;
}

.font-ex p:nth-child(3) {
    font-weight: 400;
    font-size: .87rem;
    line-height: .6rem;
    color: #707070;
}

.font-ex p:nth-child(4) {
    font-weight: 300;
    font-size: .75rem;
    line-height: .4rem;
    color: #707070;
}

.generate-wrap {
    margin-top: 40px;
    margin-bottom: -24px;
}

.generate span:nth-last-child(1) {
    font-weight: 300;
    color: #707070;
}

@media screen and (max-width: 1100px) {
    .slide-menu-wrap {
        width: 40vw;
        transform: translate(-40vw, 0px);
        -ms-transform: translate(-40vw, 0px);
        -webkit-transform: translate(-40vw, 0px);
        -moz-transform: translate(-40vw, 0px);
        -o-transform: translate(-40vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 60%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    .wrap.menu-active {
        transform: translate(40vw, 0px);
        -ms-transform: translate(40vw, 0px);
        -webkit-transform: translate(40vw, 0px);
        -moz-transform: translate(40vw, 0px);
        -o-transform: translate(40vw, 0px);
    }
}

@media (max-width: 991px) {
    #to-top:hover {
        opacity: 1;
    }

    .description-wrap {
        margin-top: 60px;
    }

    .row.content .content-img img {
        width: 100%;
        border-radius: 2vw;
        border: 4px solid #000;
    }
}

@media screen and (max-width: 768px) {
    .slide-menu-wrap {
        width: 100vw;
        transform: translate(-100vw, 0px);
        -ms-transform: translate(-100vw, 0px);
        -webkit-transform: translate(-100vw, 0px);
        -moz-transform: translate(-100vw, 0px);
        -o-transform: translate(-100vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 45%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    ul#slide-btn {
        margin-top: 8vh;
    }

    #slide-email {
        margin-top: 20vh;
    }

    .desktop-image {
        display: none;
    }

    .row.content .content-img img {
        width: 100%;
        border-radius: 3vw;
        border: 4px solid #000;
    }

    .bg-colon-01,
    .bg-colon-02 {
        display: none;
    }

    .left-center-stamp {
        display: none;
    }
}
