html {}

body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif !important;
    padding-bottom: 130px;
    position: relative;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#to-top {
    z-index: 998;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top:hover {
    opacity: 0.4;
}


/*!!! 본문시작 !!!*/
.bg-deco {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.bg-deco div {
    background-color: #06004a;
}

.deco-1 {
    position: absolute;
    width: 132px;
    height: 800px;
    top: -4%;
    left: 4%;
    transform: rotate(45deg);
}

.bg-deco .deco-2 {
    background-color: #fff;
    position: absolute;
    width: 132px;
    height: 1220px;
    top: 0;
    right: -3%;
    transform: rotate(45deg);
}

.deco-2-1 {
    background-color: #06004a;
    width: 132px;
    height: 800px;
}

.deco-2-2 {
    margin-top: 132px;
    background-color: #06004a;
    width: 132px;
    height: 360px;
}

.deco-3 {
    position: absolute;
    width: 132px;
    height: 800px;
    top: 35.5%;
    left: -6%;
    transform: rotate(45deg);
}

.deco-4 {
    position: absolute;
    width: 132px;
    height: 800px;
    top: 50%;
    right: -6%;
    transform: rotate(45deg);
}


.title {
    justify-content: center;
    margin: 80px auto;
    margin-bottom: 0;
}

.work {
    justify-content: center;
    margin-top: 30px;
}

.row.desc-wrap {
    margin-top: 120px;
}

.desc-01 p {
    padding-left: 10px;
    border-left: 1px solid #06004A;
    color: #707070;
    z-index: -1;
    font-weight: 300;
    height: 160px;
    width: 300px;
}

.desc-02 p {
    padding-left: 10px;
    border-left: 1px solid #06004A;
    color: #707070;
    z-index: -1;
    font-weight: 300;
    margin-top: -5px;
    width: 70%;
    height: 160px;
}

.window {
    z-index: 1;
    margin-top: -40px;
}

.window-top {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 30px;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 6px;
}

.dot:nth-child(1) {
    background-color: #FF6159;
}

.dot:nth-child(2) {
    background-color: #FFBD2E;
}

.dot:nth-child(3) {
    background-color: #27C940;
}

.window-inner {
    width: 100%;
    height: 0;
    padding-top: 106%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 115%;
    border-radius: 0 0 10px 10px;
}

.window-inner-style-2 {
    width: 100%;
    height: 0;
    padding-top: 136%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 100%;
    border-radius: 0 10px 10px 0;
}

.window-inner-style-3 {
    width: 100%;
    height: 0;
    padding-top: 61%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
}

.window-inner-style-4 {
    width: 100%;
    height: 0;
    padding-top: 78.5%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
}

.window-inner-style-5 {
    width: 100%;
    height: 0;
    padding-top: 136%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 100%;
    border-radius: 10px 0 0 10px;
}

.window-inner-style-6 {
    width: 100%;
    height: 0;
    padding-top: 68%;
    border: solid 1px #cccccc;
    background-position: center top;
    background-size: 120%;
    border-radius: 0 0 10px 10px;
}

.footer {
    z-index: -1;
    width: 100%;
    height: 600px;
    position: absolute;
    bottom: 0;
    background-color: #06004a;
}

@media screen and (max-width: 1100px) {
    .deco-1 {
        position: absolute;
        width: 80px;
        height: 800px;
        top: -24vw;
        left: -2vw;
        transform: rotate(45deg);
    }
}

@media (max-width: 991px) {
    #to-top:hover {
        opacity: 1;
    }

    .desc-01 p {
        padding-left: 10px;
        border-left: 1px solid #06004A;
        color: #707070;
        z-index: -1;
        font-weight: 300;
        width: 200px;
        height: 160px;
    }

    .desc-02 p {
        padding-left: 10px;
        border-left: 1px solid #06004A;
        color: #707070;
        z-index: -1;
        font-weight: 300;
        margin-top: -5px;
        width: 100%;
        height: 160px;
    }
}

@media screen and (max-width: 768px) {
    body{
        padding-bottom: 80px;
    }
    
    .deco-1 {
        display: none;
    }
    
    .title img{
        width: 200px;
    }

    .desc-01 p {
        padding-left: 10px;
        border-left: 1px solid #06004A;
        color: #707070;
        z-index: -1;
        font-weight: 300;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .desc-02 p {
        padding-left: 10px;
        border-left: 1px solid #06004A;
        color: #707070;
        z-index: -1;
        font-weight: 300;
        margin-top: -5px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .window {
        z-index: 1;
        margin-top: 30px;
    }

    .window-inner-style-2,
    .window-inner-style-4,
    .window-inner-style-6 {
        margin-bottom: 30px;
    }
    
    #product-page{
        margin-top: 30px;
    }
}
