body {
    margin: 0 auto;
}

#loading-img {
    display: none;
}

ul,
li {
    list-style: none;
}

.main section {
    height: 100vh;
    width: 100%;
    padding-left: 7.2%;
    padding-right: 7.2%;
}

#sec6,
#sec7 {
    background-color: #f0f0f0;
}

#Challenge > h1 {
    display: inline-block;
}

.inner-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slogan h1 {
    font-size: 5.8vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    color: #000000;
}

h1.slogan-dot {
    color: red;
}

.splash img {
    height: 100vh;
}

div#left-content {
    height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

div.circle {
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 600px;
}

div.circle.pink {
    background-color: #FFF1F2;
}

div.circle.blue {
    background-color: #ECF2FC;
}

#left-content img#img01 {
    position: absolute;
    width: 15.6vw;
    z-index: 2;
}

#left-content img#img-full {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#left-content img#img02 {
    position: absolute;
    margin: 3vh 0 0 10vw;
    width: 10.4vw;
    z-index: 1;
}

#left-content img#img03 {
    position: absolute;
    margin: 3vh 0 0 -10vw;
    width: 10.4vw;
    z-index: 1;
}

.right-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
}

.app-sub {
    position: absolute;
    font-size: 1vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    color: #000000;
}

.app-name {
    margin-left: -0.3vw;
    font-size: 4.2vw;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    color: #000000;
}

.description-wrap {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #000000;
}

.description-wrap p {
    margin: 15px 0;
}

#sec8 .description2 {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #000000;
}

.sub-img {
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sec6 .sub-img,
#sec7 .sub-img,
#sec8 .sub-img {
    margin-top: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-more {
    position: absolute;
    width: 300px;
    height: 60px;
    line-height: 58px;
    border: solid 2px #000;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: middle;
    font-size: 1.25rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    color: #000000;
    cursor: pointer;
}

#sec6 .btn-more,
#sec7 .btn-more,
#sec8 .btn-more {
    margin-top: 30px;
    background-color: #000;
    color: #fff;
}

.sub-img img {
    width: 100%;
}

.tool-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tool-wrap img {
    width: 60px;
}

@media screen and (max-width: 768px) {

    #loading-img {
        display: block;
        position: absolute;
        text-align: center;
    }

    #loading-img img {
        width: 100%;
        height: 100vh;
    }

    .inner-1 {
        align-items: center;
    }

    .slogan h1 {
        font-size: 13vw;
    }

    .splash img {
        display: none;
    }

    .main section {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }


    #sec2,
    #sec3,
    #sec4 {
        padding-bottom: 140px;
    }

    #sec5 {
        padding-bottom: 160px;
    }

    #sec6 {
        padding-bottom: 180px;
    }

    #sec7 {
        padding-bottom: 100px;
    }


    #sec8 {
        padding-top: 100px;
        height: 110vh;
    }

    div#left-content {
        height: 60vh;
        margin-bottom: -18.5vh;
        display: flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }

    #sec6 div#left-content {
        height: 80vh;
        margin-bottom: -140px;
    }

    #sec7 div#left-content {
        height: 50vh;
        margin-bottom: -80px;
    }


    #left-content img#img01 {
        position: absolute;
        margin-top: -50px;
        width: 136px;
        z-index: 2;
    }

    #left-content img#img-full {
        margin-top: -50px;
    }

    #sec3 #left-content img#img01 {
        position: absolute;
        margin-top: -40px;
        width: 136px;
        z-index: 2;
    }

    #left-content img#img02 {
        position: absolute;
        margin: -25px 0 0 70px;
        width: 92px;
        z-index: 1;
    }

    #sec3 #left-content img#img02 {
        position: absolute;
        margin: -30px 0 0 70px;
        width: 92px;
        z-index: 1;
    }

    #left-content img#img03 {
        position: absolute;
        margin: -25px 0 0 -70px;
        width: 92px;
        z-index: 1;
    }

    #sec3 #left-content img#img03 {
        position: absolute;
        margin: -30px 0 0 -70px;
        width: 92px;
        z-index: 1;
    }

    .right-wrap {
        height: auto;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: center;
    }

    .app-sub {
        position: absolute;
        margin: -8px 0 0 2px;
        font-size: 1rem;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 900;
        color: #000000;
    }

    .app-name {
        font-size: 2.7rem;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 900;
        color: #000000;
    }

    .description-wrap {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        color: #000000;
    }

    .description-wrap p {
        margin: 10px 0;
    }

    #sec6 .sub-img,
    #sec7 .sub-img,
    #sec8 .sub-img {
        align-items: center;
    }

    .btn-more {
        margin-top: 140px;
    }

    #sec4 .btn-more {
        margin-top: 168px;
    }

    #sec6 .btn-more,
    #sec7 .btn-more,
    #sec8 .btn-more {
        margin-top: 30px;
    }

    .tool-wrap {
        margin-bottom: 20px;
    }

    .tool-container div:nth-child(5) {
        margin-bottom: 40px;
    }

}
