-webkit-animation: bg-gradient 16s ease infinite;
-moz-animation: bg-gradient 16s ease infinite;
-o-animation: bg-gradient 16s ease infinite;
animation: bg-gradient 16s ease infinite;

@-webkit-keyframes bg-gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes bg-gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 20%
    }
}

@-o-keyframes bg-gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 20%
    }
}

@keyframes bg-gradient {
    0% {
        background-position: 0% 0%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 20%
    }
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #E600FF, #8A13EE, #002FD5);
    background-size: 200% 200%;
    animation: bg-gradient 15s ease infinite;
    font-family: 'Noto Sans KR', sans-serif !important;
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#btn-slide-open {
    z-index: 999;
    width: 100%;
    position: fixed;
    height: 60px;
    padding: 16px 0 0 20px;
}

.btn-slide-open-scrollDown {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.css-slide-open {
    width: 24px;
    height: 20px;
}

.css-slide-open .line {
    width: 24px;
    height: 4px;
    margin-top: 4px;
    background-color: #fff;
}

.slide-menu-wrap {
    z-index: 1000;
    position: fixed;
    background-color: #0C0C38;
    width: 22vw;
    height: 100vh;
    transition: transform 600ms;
    transform: translate(-22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(-22vw, 0px);
    -webkit-transform: translate(-22vw, 0px);
    -moz-transform: translate(-22vw, 0px);
    -o-transform: translate(-22vw, 0px);
}

.slide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#btn-slide-close {
    width: 24px;
    margin: 30px 0 0 20px;
}

.css-slide-close {
    width: 30px;
    height: 30px;
}

.css-slide-close .line:nth-child(1) {
    transform: rotate(45deg);
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: #fff;
}

.css-slide-close .line:nth-child(2) {
    transform: rotate(-45deg);
    width: 30px;
    height: 4px;
    margin-top: -4px;
    background-color: #fff;
}

.slide-menu div#slide-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-height: 148px;
    margin-top: 7vh;
    background-color: #E500FF;
    border-radius: 100px;
}

div#slide-logo img {
    width: 120px;
}

ul#slide-btn {
    margin-top: 10vh;
    font-size: 1.87rem;
    font-weight: 900;
    color: #fff;
}

ul#slide-btn a {
    color: #fff;
    text-decoration: none;
}

ul#slide-btn a:hover {
    color: #E500FF;
    text-decoration: none;
}


ul#slide-btn li {
    margin-top: 2vh;
}

#slide-email {
    margin-top: 24vh;
    color: #6D6C87;
}

.wrap {
    display: flex;
    flex-direction: row;
    transition: transform 600ms;
}

.wrap.menu-active {
    transform: translate(22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(22vw, 0px);
    -webkit-transform: translate(22vw, 0px);
    -moz-transform: translate(22vw, 0px);
    -o-transform: translate(22vw, 0px);
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 0 0 0 6.25vw;
}

.logo-wrap {
    position: relative;
    width: 400px;
    height: 241px;
}

img#logo {
    width: 100%;
}

span.slogan {
    position: absolute;
    color: #fff;
    top: 200px;
    left: 100px;
    letter-spacing: -0.8px;
}

.down_text {
    display: none;
}

p.description {
    line-height: 3.7rem;
    font-size: 3rem;
    color: #fff;
    margin: 5vh 0 0 2vw;
}

p.description2 {
    font-weight: 300;
    color: #fff;
    margin: 3vh 0 2.2vh 2vw;
}

span.description3 {
    font-weight: 700;
    color: #fff;
    background-color: #000;
    width: 298px;
    height: 98px;
    margin: 2.2vh 0 0 2vw;
    padding: 0 8px 2px 8px;
}

div.info-main-wrap {
    display: flex;
    width: 100%;
    height: 75px;
    color: #fff;
    margin-top: 5.4vh;
}

div.info-main-wrap-m {
    display: none;
}

img#icon-gps-main {
    opacity: 0.6;
    width: 24px;
    height: 28px;
}

div.info-main-inner {
    width: 100%;
    margin-left: 13px;
}

p.info-main {
    font-weight: 300;
    margin-bottom: 0;
}

span.email-main {
    font-weight: 700;
}

.right-content {
    margin-left: 5.2vw;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content-wrap {
    position: relative;
    clear: both;
    height: 660px;
    overflow-x: scroll;
}

.content-wrap::-webkit-scrollbar {
    width: 0;
    height: 6px;
}

.content-wrap::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.content-wrap::-webkit-scrollbar-track {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* !!!Scroll Box!!! */
.content-scroll-box {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 1000%;
    height: 100%;
}

.content {
    position: relative;
    width: 708px;
    margin-right: 82px;
}

.content-image {
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-top: 96%;
    left: 14px;
    top: 14px;
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.stroke-white {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 28px;
    width: 100%;
    height: auto;
    padding-top: 96%;
    border: 1px solid #fff;
}

.info-content-wrap {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 44.8vh;
    left: 0;
    width: 262px;
    height: 194px;
    padding: 32px 0 0 24px;
    background-color: #fff;
    cursor: pointer;
}

img#icon-arrow {
    position: absolute;
    top: 140px;
    left: 200px;
}

span.info-content1 {
    align-self: flex-start;
    background-color: #000;
    color: #fff;
    padding: 0 4px;
    font-weight: 900;
}

span.info-content2 {
    color: #000;
    font-size: 1.87rem;
    font-weight: 300;
    font-weight: 700;
}

span.info-content3 {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    margin-top: 40px;
    font-weight: 300;
}

@media screen and (max-width: 1100px) {
    .slide-menu-wrap {
        width: 40vw;
        transform: translate(-40vw, 0px);
        -ms-transform: translate(-40vw, 0px);
        -webkit-transform: translate(-40vw, 0px);
        -moz-transform: translate(-40vw, 0px);
        -o-transform: translate(-40vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 60%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    .wrap.menu-active {
        transform: translate(40vw, 0px);
        -ms-transform: translate(40vw, 0px);
        -webkit-transform: translate(40vw, 0px);
        -moz-transform: translate(40vw, 0px);
        -o-transform: translate(40vw, 0px);
    }

    div.info-main-wrap-m {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    body {
        animation: none;
        background: linear-gradient(135deg, #E600FF, #002FD5);
        background-size: 100% 240%;
    }

    .slide-menu-wrap {
        width: 100vw;
        transform: translate(-100vw, 0px);
        -ms-transform: translate(-100vw, 0px);
        -webkit-transform: translate(-100vw, 0px);
        -moz-transform: translate(-100vw, 0px);
        -o-transform: translate(-100vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 45%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    ul#slide-btn {
        margin-top: 8vh;
    }

    #slide-email {
        margin-top: 20vh;
    }

    .wrap {
        flex-direction: column;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 10.7vh 0 0 8vw;
    }

    .logo-wrap {
        position: relative;
        width: 59.7vw;
        min-width: 224px;
        height: 135px;
    }

    span.slogan {
        display: none;
    }

    .down_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 10.7vh;
        right: 9.3vw;
    }

    #down_arrow {
        margin-top: 10px;
        width: 17px;
        height: 90px;
    }

    p.description {
        line-height: 2.2rem;
        font-size: 2rem;
        margin: 7.3vh 0 0 2vw;
    }

    p.description2 {
        font-weight: 300;
        margin: 3vh 0 2.2vh 2vw;
    }

    span.description3 {
        font-weight: 700;
        color: #fff;
        background-color: #000;
        width: 298px;
        height: 98px;
        margin: 2.2vh 0 0 2vw;
        padding: 0 8px 2px 8px;
    }

    div.info-main-wrap {
        display: none;
    }

    div.info-main-wrap-m {
        display: flex;
        width: 100%;
        height: 75px;
        color: #fff;
        margin: 20px 0 6vh 0;
        padding-left: 8vw;
    }

    .right-content {
        margin: 6vh 0 0 0;
        width: 100%;
        height: auto;
    }

    .content-wrap {
        position: relative;
        height: 8vh;
        padding-left: 5vw;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .content-wrap::-webkit-scrollbar {
        width: 0;
        height: 4px;
    }

    .content-wrap::-webkit-scrollbar-thumb {
        background-color: #fff;
    }

    .content-wrap::-webkit-scrollbar-track {
        max-width: 80px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .content-scroll-box {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 1000%;
    }

    .stroke-white {
        display: none;
    }

    .content {
        position: relative;
        width: 90vw;
        margin-right: 8vw;
    }

    .content-image {
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 152%;
        left: 14px;
        top: 14px;
        background-color: black;
    }

    .stroke-white {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 28px;
        width: 100%;
        height: auto;
        padding-top: 96%;
        border: 1px solid #fff;
    }

    .info-content-wrap {
        z-index: 1;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 38vh;
        left: 0;
        width: 262px;
        height: 160px;
        padding: 32px 0 0 24px;
        background-color: #fff;
    }

    span.info-content3 {
        margin-top: 1.8vh;
    }

    img#icon-arrow {
        top: 116px;
        left: 200px;
    }
}
