html {}

body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif !important;
    padding-bottom: 130px;
    position: relative;
    border-bottom: 10px solid #ff0000;
}


ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#to-top {
    z-index: 998;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top:hover {
    opacity: 0.4;
}


/*!!! 본문시작 !!!*/
.wrap {
    flex-flow: wrap column;
}

.title {
    margin-top: 100px;

}

.title h1 {
    font-size: 7.5rem;
    font-weight: 900;
    color: #000;
}

.work-wrap {
    margin-top: 30px;
}

.work-inner {
    display: flex;
    flex-flow: wrap column;
    align-items: flex-end;
}

span.work {
    background-color: #000;
    color: #fff;
    padding: 1px 6px 3px;
}

p.slogan {
    position: absolute;
    top: 180px;
    right: -80px;
    transform: rotate(-90deg);
    margin: 0;
}

.puma-path {
    position: absolute;
}

.section-01 {
    margin-top: 40px;
}

.section-02 {
    margin-top: 60px;
}

.subtitle-wrap {
    position: absolute;
    border-top: 1px solid #000;
    width: 50%;
    top: 40px;
    z-index: -1;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.desc {
    font-weight: 300;
    position: absolute;
    width: 160px;
    bottom: 60px;
    right: 50px;
}

.container-fluid {
    position: relative;
}

.bg-deco {
    z-index: -2;
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 60%;
    top: 50%;
    transform: translate(0, -40%);
    margin-left: -15px;
}

.section-03 {
    margin-top: 200px
}

.bg-deco-02 {
    z-index: -2;
    position: absolute;
    background-color: #f0f0f0;
    width: 100%;
    height: 50%;
    top: 54%;
    transform: translate(0, -40%);
    margin-left: -15px;
}

.bg-deco-03 {
    z-index: -2;
    position: absolute;
    width: 100%;
    padding-top: 60%;
    height: auto;
}

.footer-wrap {
    margin-top: 200px;
}

.footer {
    width: 100%;
    height: auto;
    padding-top: 46%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    .subtitle-wrap {
        position: absolute;
        border-top: 1px solid #000;
        width: 50%;
        top: 10px;
        z-index: -1;
    }
}

@media (max-width: 991px) {
    #to-top:hover {
        opacity: 1;
    }

    .subtitle {
        font-size: 1rem;
    }

    .desc {
        font-weight: 300;
        position: absolute;
        width: 160px;
        bottom: 0;
        right: 0px;
    }
}

@media screen and (max-width: 768px) {
    .desc {
        font-weight: 300;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 320px;
        bottom: -100px;
    }

    .footer-wrap {
        margin-top: 100px;
    }

}
