body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif !important;
    overflow-x: hidden;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#btn-slide-open {
    position: absolute;
    margin: 4vh 0 0 4vh;
}

div#btn-slide-open:hover {
    opacity: 0.6;
}

.line-wrapper {
    z-index: 999;
    width: 24px;
    height: 20px;
}

.line {
    width: 24px;
    height: 4px;
    margin-top: 4px;
    background-color: #000;
}

.slide-menu-wrap {
    z-index: 999;
    position: fixed;
    background-color: #0C0C38;
    width: 22vw;
    height: 100vh;
    transition: transform 600ms;
    transform: translate(-22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(-22vw, 0px);
    -webkit-transform: translate(-22vw, 0px);
    -moz-transform: translate(-22vw, 0px);
    -o-transform: translate(-22vw, 0px);
}

#to-top {
    z-index: 998;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#to-top:hover {
    opacity: 0.4;
}

.slide-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#btn-slide-close {
    width: 24px;
    margin: 5vh 0 0 4vh;
}

div#btn-slide-close:hover {
    opacity: 0.6;
}

.css-slide-close {
    width: 24px;
    height: 24px;
}

.css-slide-close .line:nth-child(1) {
    transform: rotate(45deg);
    width: 30px;
    height: 4px;
    margin-top: 4px;
    background-color: #fff;
}

.css-slide-close .line:nth-child(2) {
    transform: rotate(-45deg);
    width: 30px;
    height: 4px;
    margin-top: -4px;
    background-color: #fff;
}

.slide-menu div#slide-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    min-height: 148px;
    margin-top: 7vh;
    background-color: #E500FF;
    border-radius: 100px;
}

div#slide-logo img {
    width: 120px;
}

ul#slide-btn {
    margin-top: 10vh;
    font-size: 1.87rem;
    font-weight: 900;
    color: #fff;
}

ul#slide-btn a {
    color: #fff;
    text-decoration: none;
}

ul#slide-btn a:hover {
    color: #E500FF;
    text-decoration: none;
}


ul#slide-btn li {
    margin-top: 2vh;
}

#slide-email {
    margin-top: 24vh;
    color: #6D6C87;
}

.wrap {
    display: flex;
    flex-direction: row;
    transition: transform 600ms;
}

.wrap.menu-active {
    transform: translate(22vw, 0px);

    -ms-transition: -ms-transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -o-transition: -o-transform 600ms;

    -ms-transform: translate(22vw, 0px);
    -webkit-transform: translate(22vw, 0px);
    -moz-transform: translate(22vw, 0px);
    -o-transform: translate(22vw, 0px);
}


/* 본문 시작 */

div.title h1 {
    width: 100%;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 900;
    text-shadow: 6px 6px 0 #f8ccff;
    margin: 9.3% 0 3.7% 0;
}

.row.content-wrap{
    margin-bottom: 50px;
}

.content-inner {
    background-color: #f0f0f0;
    position: relative;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 86%;
    background-position: center top;
}

.content-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: ;
    padding-top: 96%;
}

.info-content-wrap {
    position: absolute;
    display: flex;
    bottom: -14px;
    left: -14px;
    flex-direction: column;
    width: 262px;
    height: 195px;
    padding: 30px 0 0 24px;
    background-color: #000;
}

span.info-content1 {
    align-self: flex-start;
    background-color: #fff;
    color: #000;
    padding: 0 4px;
    font-weight: 900;
}

span.info-content2 {
    color: #fff;
    font-size: 1.87rem;
    font-weight: 300;
    font-weight: 700;
}

.content3-box {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

span.info-content3 {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-weight: 300;
    float: left;
}

img#icon-arrow {
    position: absolute;
    height: 24px;
    left: 200px;
}

@media screen and (max-width: 1200px) {
    .slide-menu-wrap {
        width: 40vw;
        transform: translate(-40vw, 0px);
        -ms-transform: translate(-40vw, 0px);
        -webkit-transform: translate(-40vw, 0px);
        -moz-transform: translate(-40vw, 0px);
        -o-transform: translate(-40vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 60%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    .wrap.menu-active {
        transform: translate(40vw, 0px);
        -ms-transform: translate(40vw, 0px);
        -webkit-transform: translate(40vw, 0px);
        -moz-transform: translate(40vw, 0px);
        -o-transform: translate(40vw, 0px);
    }
}

@media (max-width: 992px) {
    #to-top:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .slide-menu-wrap {
        width: 100vw;
        transform: translate(-100vw, 0px);
        -ms-transform: translate(-100vw, 0px);
        -webkit-transform: translate(-100vw, 0px);
        -moz-transform: translate(-100vw, 0px);
        -o-transform: translate(-100vw, 0px);
    }

    .slide-menu div#slide-logo {
        width: 45%;
        min-height: 80px;
        margin-top: 7vh;
        padding: 40px;
        border-radius: 100px;
    }

    div#slide-logo img {
        width: 100%;
        min-width: 40px;
    }

    ul#slide-btn {
        margin-top: 8vh;
    }

    #slide-email {
        margin-top: 20vh;
    }

    div.title h1 {
        font-size: 3rem;
        font-weight: 900;
        text-shadow: 3px 3px 0 #f8ccff;
        margin: 20% 0 8% 0;
    }
    
    .row.content-wrap{
        margin-bottom: 0;
    }
    
    .content-wrap .content{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {}
